*~

# editor
*.swp
*.swo
*.swm
*.swn

.idea/
build-dir/
cmake-build-*/
release-stage-dir/
bld/
bld-*/

#VScode
.vscode/

# GTAGS
GPATH
GRTAGS
GTAGS
VERSION

# Python
__pycache__/

# Mac OS
.DS_Store

build/

# MSVS

CMakeSettings.json
.vs/
out/