(表層)
(頻度)
(品詞)
(細分類)
(品詞-細分類)
(活用形)
(活用型)
(文字数)
(文字数-品詞)
(文字数-品詞-細分類)
(原形)
(原形-品詞)
(原形-品詞-細分類)
(品詞)(品詞)
(品詞)(品詞-細分類)
(品詞-細分類)(品詞)
(品詞-細分類)(品詞-細分類)
(品詞-細分類)(品詞-細分類-活用形)
(品詞-細分類)(品詞-細分類-活用型)
(品詞-細分類)(品詞-細分類-活用形-活用型)
(品詞-細分類)(品詞-細分類-活用形-活用型-原形)
(品詞-細分類-活用形)(品詞-細分類)
(品詞-細分類-活用形)(品詞-細分類-活用形)
(品詞-細分類-活用形)(品詞-細分類-活用型)
(品詞-細分類-活用形)(品詞-細分類-活用形-活用型)
(品詞-細分類-活用形)(品詞-細分類-活用形-活用型-原形)
(品詞-細分類-活用型)(品詞-細分類)
(品詞-細分類-活用型)(品詞-細分類-活用形)
(品詞-細分類-活用型)(品詞-細分類-活用型)
(品詞-細分類-活用型)(品詞-細分類-活用形-活用型)
(品詞-細分類-活用型)(品詞-細分類-活用形-活用型-原形)
(品詞-細分類-活用形-活用型)(品詞-細分類)
(品詞-細分類-活用形-活用型)(品詞-細分類-活用形)
(品詞-細分類-活用形-活用型)(品詞-細分類-活用型)
(品詞-細分類-活用形-活用型)(品詞-細分類-活用形-活用型)
(品詞-細分類-活用形-活用型)(品詞-細分類-活用形-活用型-原形)
(品詞-細分類-活用形-活用型-原形)(品詞-細分類)
(品詞-細分類-活用形-活用型-原形)(品詞-細分類-活用形)
(品詞-細分類-活用形-活用型-原形)(品詞-細分類-活用型)
(品詞-細分類-活用形-活用型-原形)(品詞-細分類-活用形-活用型)
(品詞-細分類-活用形-活用型-原形)(品詞-細分類-活用形-活用型-原形)
(原形)(原形)
(表層)(頻度)
(頻度)(表層)
(細分類)(細分類)
(活用形)(活用形)
(細分類)(品詞)
(品詞)(細分類)
(活用形)(品詞)
(品詞)(活用形)
(文字数)(文字数)
(文字数-品詞)(文字数-品詞)
(文字数-品詞-細分類)(文字数-品詞-細分類)
